<div class="container">
    <div class="row justify-content-center g-5 m-3">
        <h1>Why us?</h1>
        <div class="flex flex-column col-lg-3 col-md-2 col-sm-1">
            <h3>Best Restaurant</h3>
            <p>Never better restaurant</p>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-1">
            <h3>Good price</h3>
            <p>We have a lot of good offers</p>
        </div>
        <div class="col-lg-3 col-md-2 col-sm-1">
            <h3>Real Italians</h3>
            <p>From the old home, no fake</p>
        </div>
    </div>
</div>
